<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>품종 정보</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <link rel="icon" sizes="48x48" href="/icons/returnFarmIcon48.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        .my {
            height: 30px;
            border-color: #41a6ff;
            border-radius: 5px;
            border-width: 1.5px;
            background: #ffffff;
            margin: 5px;
        }
        @media (max-width: 767px) {
            #web {
                display: none;
            }
        }
        @media (min-width: 767px) {
            #app {
                display: none;
            }
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SSBI-FD</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">데이터 시각화<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <!--                            <li><a href="StatisticalAnalysis/Chart">몽고 차트 페이지</a></li>-->
                            <li><a href="../StatisticalAnalysis/AverageIncomeChart">수익 금액</a></li>
                            <!--                            <li><a href="StatisticalAnalysis/CostChartAmount">투자비, 운영비 합계별 수익 (전국)</a></li>-->
                            <!--                            <li><a href="StatisticalAnalysis/CostChartRatio">투자비, 운영비 합계별 순이익률 (전국)</a></li>-->
                            <li><a href="../StatisticalAnalysis/CostChartAmountRegion">투자비, 운영비 합계별 수익</a></li>
                            <li><a href="../StatisticalAnalysis/CostChartRatioRegion">투자비, 운영비 합계별 순이익률</a></li>
                            <li><a href="../StatisticalAnalysis/ManagementScaleChart">경영규모 금액</a></li>
                            <li><a href="../StatisticalAnalysis/farmlandLeaseChart">평균 농지 임대 가격</a></li>
                            <li><a href="../StatisticalAnalysis/farmlandTradingChart">평균 농지 매매 가격</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">리포팅<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <!--                            <li><a href="AreaFarmInfoList">지역별 작목 정보</a></li>-->
                            <li><a href="../Crop/FoodCropsInfo">품종 정보</a></li>
                            <li><a href="../FarmingTechnique">작목별 농업 기술 정보</a></li>
                            <li><a href="../Statistics/PurchaseStatisticsMonthly">농식품 구입 통계</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">모니터링<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../RealTimePrice">실시간 가격 정보</a></li>
                            <li><a href="../plan">농작업 관리 일정</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">귀농 귀촌 길잡이</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">STEP1 재배 작물 선택<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Crop/FoodCropsInfo">품종 정보</a></li>
                            <li><a href="../AreaFarmInfoList">지역별 작목 정보</a></li>
                            <li><a href="../RealTimePrice">실시간 가격 정보</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">STEP2 영농 기술 습득<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../FarmingTechnique">영농 기술 정보</a></li>
                            <li><a href="../Education/Education">영농 교육</a></li>
                        </ul>
                    </li><li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">STEP3 영농 계획 수립<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../plan">농작업 관리 일정</a></li>
                        <li><a href="../Statistics/PurchaseStatisticsMonthly">농식품 구입 통계</a></li>
                    </ul>
                </li>
                </ul>
            </div>
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="FoodCropsInfo">식량작물</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">작물 정보<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="FoodCropsInfo">식량작물</a></li>
                                <li class="divider"></li>
                                <li><a href="SpecialCropsInfo">특용작물</a></li>
                                <li class="divider"></li>
                                <li><a href="VegetableInfo">채소</a></li>
                                <li class="divider"></li>
                                <li><a href="FruitInfo">과수</a></li>
                                <li class="divider"></li>
                                <li><a href="FloweringPlantInfo">화훼</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>-->

    <!-- content -->
    <h1>품종 정보</h1>
    <form id="cropForm" method="post">
        <div class="input-append">
            <input class="span2" id="cropButton" name="cropName" type="hidden">
            <div class="btn-group">
                <button class="my" data-toggle="dropdown"><span th:text="${cropName}"></span><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li onclick="$('#cropButton').val('감자'); $('#cropForm').submit()">감자</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('강낭콩'); $('#cropForm').submit()">강낭콩</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('고구마'); $('#cropForm').submit()">고구마</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('귀리'); $('#cropForm').submit()">귀리</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('기장'); $('#cropForm').submit()">기장</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('기타맥류'); $('#cropForm').submit()">기타맥류</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('기타잡곡류'); $('#cropForm').submit()">기타잡곡류</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('녹두'); $('#cropForm').submit()">녹두</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('논벼'); $('#cropForm').submit()">논벼</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('동부'); $('#cropForm').submit()">동부</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('라이밀'); $('#cropForm').submit()">라이밀</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('메밀'); $('#cropForm').submit()">메밀</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('밀'); $('#cropForm').submit()">밀</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('밭벼'); $('#cropForm').submit()">밭벼</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('보리'); $('#cropForm').submit()">보리</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('수수'); $('#cropForm').submit()">수수</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('옥수수'); $('#cropForm').submit()">옥수수</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('완두'); $('#cropForm').submit()">완두</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('조'); $('#cropForm').submit()">조</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('콩'); $('#cropForm').submit()">콩</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('팥'); $('#cropForm').submit()">팥</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('피'); $('#cropForm').submit()">피</li>
                    <li class="divider"></li>
                    <li onclick="$('#cropButton').val('호밀'); $('#cropForm').submit()">호밀</li>
                    <li class="divider"></li>
                </ul>
            </div>
        </div>
    </form>
    <br>
    <div id="web" class="container-fluid">
        <div media="screen and (min-width: 767px)">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th class="col-xs-1">번호</th>
                        <th class="col-xs-2">사진</th>
                        <th class="col-xs-1">품종명</th>
                        <th class="col-xs-1">육성년도</th>
                        <th class="col-xs-1">육성기관</th>
                        <th class="col-xs-5">주요특성</th>
                        <th class="col-xs-1">설명문서</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr th:each="crop : ${cropList}">
                            <td th:text="${crop.getId()}"></td>
                            <td><img class="img-responsive img-rounded" th:src="${crop.getImgFileLinkOriginal()}"></td>
                            <td th:text="${crop.getCntntsSj()}"></td>
                            <td th:text="${crop.getUnbrngYear()}"></td>
                            <td th:text="${crop.getUnbrngInsttInfo()}"></td>
                            <td th:text="${crop.getMainChartrInfo()}"></td>
                            <td><a th:href="${crop.getAtchFileLink()}">다운로드</a></td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
    <div id="app" class="container-fluid">
        <div media="screen and (max-width: 767px)">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th class="col-xs-1">번호</th>
                    <th class="col-xs-2">사진</th>
                    <th class="col-xs-1">품종명</th>
                    <th class="col-xs-1">설명문서</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="crop : ${cropList}">
                    <td th:text="${crop.getId()}"></td>
                    <td><img class="img-responsive img-rounded" th:src="${crop.getImgFileLinkOriginal()}"></td>
                    <td th:text="${crop.getCntntsSj()}"></td>
                    <td><a th:href="${crop.getAtchFileLink()}">다운로드</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='pull-right'>
        <ul class="pagination">
            <th:block th:if="${prev}">
                <li class="paginate_button previous">
                    <a th:href="@{/Crop/FoodCropsInfo(page=${startPage-1})}">Previous</a>
                </li>
            </th:block>
            <th:block th:with="start=${startPage}, end=${endPage}">
                <th:block th:each="num: ${#numbers.sequence(start, end)}">
                    <li th:if=" ${currentPage} == ${num}" class='paginate_button active'>
                        <a th:href="@{/Crop/FoodCropsInfo(page=${num})}" th:text="${num}"></a>
                    </li>
                    <li th:unless=" ${currentPage} == ${num}" class='paginate_button'>
                        <a th:href="@{/Crop/FoodCropsInfo(page=${num})}" th:text="${num}"></a>
                    </li>
                </th:block>
            </th:block>
            <th:block th:if="${next}">
                <li class="paginate_button next">
                    <a th:href="@{/Crop/FoodCropsInfo(page=${endPage+1})}">Next</a>
                </li>
            </th:block>
        </ul>
    </div>
</body>
</html>
