<!DOCTYPE html>
<head>
    <title>영농 교육</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">귀농 귀촌 길잡이</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">STEP1 재배 작물 선택<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../Crop/FoodCropsInfo">품종 정보</a></li>
                            <li><a href="../AreaFarmInfoList">지역별 작목 정보</a></li>
                            <li><a href="../RealTimePrice">실시간 가격 정보</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">STEP2 영농 기술 습득<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../FarmingTechnique">영농 기술 정보</a></li>
                            <li><a href="../Education/Education">영농 교육</a></li>
                        </ul>
                    </li><li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">STEP3 영농 계획 수립<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../plan">농작업 관리 일정</a></li>
                        <li><a href="../Statistics/PurchaseStatisticsMonthly">농식품 구입 통계</a></li>
                    </ul>
                </li>
                </ul>
            </div>
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="Education">영농교육(농사로)</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="Education">영농교육(농사로)</a></li>
                        <li><a href="Education2">영농교육(귀농귀촌종합센터)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- content -->
    <div class="container-fluid">
        <h3 class="display-4 font-italic">온라인교육</h3>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th class="col-xs-1">과정종류</th>
                <th class="col-xs-1">사이트링크</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>정규과정</td>
                <td><a href="https://www.nongsaro.go.kr/portal/ps/psh/psha/frlCrseLst.ps?menuId=PS03785&sEdcClCode=CYB&chkMenu=regular">바로가기</a></td>
            </tr>
            <tr>
                <td>공개과정</td>
                <td><a href="https://www.nongsaro.go.kr/portal/ps/psh/psha/frlCrseLst.ps?menuId=PS03786&sEdcClCode=CYB&chkMenu=open">바로가기</a></td>
            </tr>
            <tr>
                <td>공무원과정</td>
                <td><a href="https://www.nongsaro.go.kr/portal/ps/psh/psha/frlCrseLst.ps?menuId=PS03787&sEdcClCode=CYB&chkMenu=civil">바로가기</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid">
        <h3 class="display-4 font-italic">오프라인교육</h3>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th class="col-xs-1">과정종류</th>
                <th class="col-xs-1">사이트링크</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>공무원교육</td>
                <td><a href="https://www.nongsaro.go.kr/portal/ps/psh/psha/frlCrseLst.ps?menuId=PS03788&sEdcClCode=SET&chkMenu=A1">바로가기</a></td>
            </tr>
            <tr>
                <td>농업인교육</td>
                <td><a href="https://www.nongsaro.go.kr/portal/ps/psh/psha/frlCrseLst.ps?menuId=PS03789&sEdcClCode=SET&chkMenu=B1">바로가기</a></td>
            </tr>
            <tr>
                <td>농기계교육</td>
                <td><a href="https://www.nongsaro.go.kr/portal/ps/psh/psha/frlCrseLst.ps?menuId=PS03790&sEdcClCode=SET&chkMenu=D1">바로가기</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
